data/*
!data/ngc1846_full.txt
!data/ngc1846_lowvsini.txt
!data/ngc1846_vsini.txt
!data/observables/
!data/model_grids/
!data/densities/
!data/normalization/
!data/likelihoods/
!data/points/

data/observables/*
!data/observables/.keep

data/model_grids/cvmd/*
data/model_grids/png/*
!data/model_grids/cvmd/.keep
!data/model_grids/png/.keep

data/densities/cmd/*
data/densities/vmd/*
data/densities/pkl/*
!data/densities/cmd/.keep
!data/densities/vmd/.keep
!data/densities/pkl/.keep

data/normalization/mag/*
data/normalization/col/*
!data/normalization/mag/.keep
!data/normalization/col/.keep

data/likelihoods/pkl/*
data/likelihoods/png/*
!data/likelihoods/pkl/.keep
!data/likelihoods/png/.keep

data/points/*
!data/points/.keep

notebooks/*
*.pyc
*__pycache__
*.DS_Store
